html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  position: relative;
}

.home .background-image {
  background: url(../images/banner.jpg);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden;
}

.home .background-image .header {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.home .background-image .header .navbar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .background-image .header .navbar .logo {
  color: #fff;
}

.home .background-image .header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .background-image .header .navbar .nav-links li {
  text-transform: uppercase;
}

.home .background-image .header .navbar .nav-links li a {
  color: #fff;
  font-size: 12px;
}

.home .background-image .header .navbar .nav-links li:not(:last-child) {
  margin-right: 50px;
}

.home .background-image .header .navbar .bm {
  font-size: 25px;
  color: #fff;
  display: none;
}

.home .background-image .header .heading {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.home .background-image .header .heading h1 {
  color: #fff;
  font-size: 62px;
  margin-bottom: 25px;
  margin-top: 160px;
}

.home .background-image .header .heading .div-p {
  max-width: 352px;
  width: 100%;
}

.home .background-image .header .heading .div-p p {
  color: #fff;
}

.home .background-image .header .form {
  max-width: 1088px;
  width: 100%;
  height: 148px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 575px;
  -webkit-box-shadow: 1px 11px 45px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 11px 45px -8px rgba(0, 0, 0, 0.75);
}

.home .background-image .header .form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .background-image .header .form > form > .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .background-image .header .form > form > .form-wrapper > label {
  font-size: 13px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #5863F8;
  margin-bottom: 12px;
}

.home .background-image .header .form > form > .form-wrapper > input {
  width: 260px;
  padding: 20px;
  border: 1px #EBEBEB solid;
  margin-right: 20px;
  outline: none;
}

.home .background-image .header .form > form > button {
  width: 57px;
  height: 57px;
  border: none;
  background-color: #5863F8;
  cursor: pointer;
}

.s-3 {
  margin-top: 100px;
}

.s-3 > .container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-3 > .container > .content-wrapper {
  padding: 76px 0;
  width: 644px;
  position: relative;
}

.s-3 > .container > .content-wrapper > h4 {
  font-size: 14px;
  font-weight: bold;
  color: #5863F8;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.s-3 > .container > .content-wrapper > h2 {
  width: 512px;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.s-3 > .container > .content-wrapper > .user1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.s-3 > .container > .content-wrapper > .user1 > .user1-information {
  margin-left: 13px;
}

.s-3 > .container > .content-wrapper > .user1 > .user1-information > h5 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
}

.s-3 > .container > .content-wrapper > .user1 > .user1-information > h6 {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  opacity: 50%;
  font-family: 'Poppins', sans-serif;
}

.s-3 > .container > .content-wrapper > P {
  width: 352px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

.s-3 > .container > .content-wrapper > .round {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-3 > .container > .content-wrapper > .round > .round1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D1D1D1;
  cursor: pointer;
}

.s-3 > .container > .content-wrapper > .round > .round1:hover {
  background-color: blue;
}

.s-3 > .container > .content-wrapper > button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: #5863F8;
  border: none;
  cursor: pointer;
}

.s-3 > .container > .image-wrapper {
  position: relative;
  width: 500px;
  height: 490px;
}

.s-3 > .container > .image-wrapper > img {
  width: 100%;
  height: 490px;
}

.s-3 > .container > .image-wrapper > button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.s-4 {
  margin-top: 90px;
}

.s-4 > .container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.s-4 > .container > h4 {
  font-size: 14px;
  font-weight: bold;
  color: #5863F8;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.s-4 > .container > h2 {
  width: 498px;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.s-4 > .container > .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-4 > .container > .box-wrapper > .food {
  width: 536px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.s-4 > .container > .box-wrapper > .food > .content {
  margin: 36px 0 0 16px;
}

.s-4 > .container > .box-wrapper > .food > .content > h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #5863F8;
  margin-bottom: 8px;
}

.s-4 > .container > .box-wrapper > .food > .content > h5 {
  font-size: 18px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  margin-bottom: 10px;
}

.s-4 > .container > .box-wrapper > .food > .content > p {
  width: 260px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #B1B1B1;
}

.s-4 > .container > .box-wrapper > .food > button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #5863F8;
  cursor: pointer;
}

.s-5 {
  margin-top: 90px;
}

.s-5 > .container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.s-5 > .container > h4 {
  font-size: 14px;
  font-weight: bold;
  color: #5863F8;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.s-5 > .container > h2 {
  width: 465px;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.s-5 > .container > .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-5 > .container > .card-wrapper > .card {
  width: 352px;
  text-align: center;
  margin-bottom: 22px;
}

.s-5 > .container > .card-wrapper > .card > h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #5863F8;
}

.s-5 > .container > .card-wrapper > .card > h4 {
  font-size: 18px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  margin-bottom: 9px;
}

.s-5 > .container > .card-wrapper > .card > p {
  margin: 0 auto;
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #B1B1B1;
}

.photos .heading {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 50px;
}

.photos .heading h3 {
  font-size: 14px;
  font-weight: bold;
  color: #5863F8;
  margin-bottom: 10px;
}

.photos .heading h2 {
  font-size: 42px;
  line-height: 46px;
}

.photos .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos .content img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.footer {
  background-color: #121212;
  padding: 89px  162px 42px 139px;
}

.footer .content {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.footer .content .about {
  width: 260px;
  margin-right: 200px;
}

.footer .content .about h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 22px;
  color: #fff;
}

.footer .content .about p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.footer .content .about .icons a img {
  margin-right: 5px;
}

.footer .content .links {
  margin-right: 100px;
}

.footer .content .links h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.footer .content .links ul li {
  margin-bottom: 11px;
}

.footer .content .links ul li a {
  font-size: 14px;
  color: #5863F8;
}

.footer .content .links-2 h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.footer .content .links-2 ul li {
  margin-bottom: 11px;
}

.footer .content .links-2 ul li img {
  margin-right: 5px;
}

.footer .content .links-2 ul li a {
  font-size: 14px;
  color: #fff;
}

.footer .down {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .down p {
  color: #fff;
}

.home {
  position: relative;
}

.home .background-image1 {
  background: url(../images/bg.png);
  width: 100%;
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden;
}

.home .background-image1 .header {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.home .background-image1 .header .navbar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .background-image1 .header .navbar .logo {
  color: #fff;
}

.home .background-image1 .header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .background-image1 .header .navbar .nav-links > li {
  text-transform: uppercase;
}

.home .background-image1 .header .navbar .nav-links > li > a {
  color: #fff;
  font-size: 12px;
}

.home .background-image1 .header .navbar .nav-links > li:not(:last-child) {
  margin-right: 50px;
}

.home .background-image1 .header .navbar .bm {
  font-size: 25px;
  color: #fff;
  display: none;
}

.home .background-image1 .header .heading {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.home .background-image1 .header .heading > h1 {
  color: #fff;
  font-size: 62px;
  margin-bottom: 20px;
  margin-top: 96px;
}

.home .background-image1 .header .heading > .div-p {
  max-width: 122px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .background-image1 .header .heading > .div-p > span {
  border-right: 1px solid white;
  height: 19px;
  display: block;
  margin-bottom: 35px;
}

.home .background-image1 .header .heading > .div-p > p {
  color: #fff;
}

.s-6 {
  margin-top: 100px;
}

.s-6 > .container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.s-6 > .container > h4 {
  font-size: 14px;
  font-weight: bold;
  color: #5863f8;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.s-6 > .container > h2 {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.s-6 > .container > .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-6 > .container > .card-wrapper > .card {
  width: 536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.s-6 > .container > .card-wrapper > .card > .mini-content {
  margin: 36px 0 0 16px;
}

.s-6 > .container > .card-wrapper > .card > .mini-content > h4 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #5863f8;
}

.s-6 > .container > .card-wrapper > .card > .mini-content > h2 {
  font-size: 18px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #000000;
  margin-bottom: 9px;
}

.s-6 > .container > .card-wrapper > .card > .mini-content > p {
  margin: 0 auto;
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #b1b1b1;
}

.s-6 > .container > .card-wrapper > .card > button {
  width: 60px;
  background-color: #5863f8;
  border: none;
  cursor: pointer;
}

.s-7 {
  margin-top: 70px;
}

.s-7 > .container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.s-7 > .container .form {
  max-width: 1088px;
  width: 100%;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-7 > .container .form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-7 > .container .form > form > .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-7 > .container .form > form > .form-wrapper > label {
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #5863f8;
  margin-bottom: 12px;
}

.s-7 > .container .form > form > .form-wrapper > input {
  width: 260px;
  padding: 20px;
  border: 1px #ebebeb solid;
  margin-right: 10px;
  outline: none;
}

.s-7 > .container .form > form > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 13px;
  width: 230px;
  height: 57px;
  border: none;
  background-color: #5863f8;
  cursor: pointer;
}

@media (max-width: 769px) {
  .home .background-image .header {
    width: 90%;
  }
  .home .background-image .header .navbar .bm {
    display: inline-block;
  }
  .home .background-image .header .navbar .nav-links {
    display: none;
  }
  .home .background-image .header .form {
    width: 90%;
  }
}

.contact {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.contact .maps {
  margin-bottom: 50px;
}

.contact .maps > iframe {
  width: 1088px;
  height: 286px;
  margin: 50px 0;
}

.contact .maps > h4 {
  color: #5863f8;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 20px;
}

.contact .maps > h2 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 56px;
}

.contact > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}

.contact > form > textarea {
  resize: none;
  max-width: 720px;
  width: 100%;
  max-height: 288px;
  padding: 10px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #cecece;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}

.contact > form > .input-wrapper {
  display: block;
}

.contact > form > .input-wrapper > input {
  max-width: 352px;
  width: 100%;
  height: 60px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #cecece;
  border: none;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  padding-left: 10px;
}

.contact > form > .input-wrapper > button {
  max-width: 352px;
  width: 100%;
  height: 60px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #5863f8;
}

@media (max-width: 1024px) {
  .contact > form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.contact > form > textarea {
  max-width: none;
  height: 200px;
  margin-bottom: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  display: block;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card .ball {
  width: 60px;
  height: 60px;
  background-color: #5863f8;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.cards .card .ball > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cards .card > h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.cards .card > p {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

@media (max-width: 1024px) {
  .cards .card {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .cards {
    width: 90%;
  }
}

.aboutus-1 {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
}

.aboutus-1 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus-1 .block .block-1 {
  width: 500px;
  height: 388px;
  display: block;
  padding: 10px 0;
}

.aboutus-1 .block .block-1 > h4 {
  color: #5863f8;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 20px;
}

.aboutus-1 .block .block-1 > h2 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 56px;
  margin-bottom: 20px;
}

.aboutus-1 .block .block-1 > p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 18px;
}

.aboutus-1 .block .block-1 > button {
  width: 185px;
  height: 50px;
  background-color: #5863f8;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.aboutus-1 .block .block-2 .block-2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .aboutus-1 .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
  .aboutus-1 .block .block-1 {
    height: auto;
  }
}

.aboutus-2 {
  background-image: url(../images/back-1.png);
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-top: 80px;
}

.aboutus-2 .aboutus-2-wrapper {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  padding: 85px 0;
}

.aboutus-2 .aboutus-2-wrapper > h4 {
  color: #5863f8;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 20px;
}

.aboutus-2 .aboutus-2-wrapper > h2 {
  font-size: 42px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 56px;
  margin-bottom: 40px;
}

.aboutus-2 .aboutus-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutus-2 .aboutus-cards .aboutus-card {
  width: 260px;
  height: 260px;
  background-color: white;
  display: block;
}

.aboutus-2 .aboutus-cards .aboutus-card .aboutus-ball {
  width: 60px;
  height: 60px;
  background-color: #5863f8;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}

.aboutus-2 .aboutus-cards .aboutus-card .aboutus-ball > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutus-2 .aboutus-cards .aboutus-card > h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin: 20px 0;
}

.aboutus-2 .aboutus-cards .aboutus-card > p {
  font-size: 14px;
  color: #b1b1b1;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

@media (max-width: 1024px) {
  .aboutus-2 .aboutus-cards {
    width: 90%;
  }
  .aboutus-2 .aboutus-cards .aboutus-card {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.aboutus-3 {
  background-image: url(../images/back-2.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.aboutus-3 .aboutus-3-container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper {
  background-color: white;
  max-width: 783px;
  width: 100%;
  height: 487px;
  padding: 80px;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper > h4 {
  color: #5863f8;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 20px;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper > h2 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 56px;
  margin-bottom: 20px;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper .profile .profile-1 {
  display: block;
  margin-left: 25px;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper .profile .profile-1 > h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper .profile .profile-1 > h5 {
  color: #b1b1b1;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.aboutus-3 .aboutus-3-container .aboutus-3-wrapper > p {
  width: 350px;
  height: 60px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  margin-top: 20px;
}
/*# sourceMappingURL=global.css.map */