@media (max-width:769px){
    .home {
        .background-image {
            .header {
                width: 90%;
                .navbar {
                    .bm {
                        display: inline-block;
                    }
                    .nav-links {
                        display: none;
                    }
                }
                .form {
                    width: 90%;
                }
            }
        }
    }
}    